@using PhoneStoreWeb.Communication.ResponseResult;
@using PhoneStoreWeb.Communication.Extension;
@model List<ProductResponse>;
@section Header{
    <link rel="stylesheet" href="/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="/assets/plugins/bootstrap-select/css/bootstrap-select.css" />
}
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Dashboard</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index", asp-controller="Home"><i class="zmdi zmdi-home"></i> Home</a></li>
                        <li class="breadcrumb-item active">Product</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i
                            class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i
                            class="zmdi zmdi-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Products</strong> </h2>
                            <div class="float-right">
                                <form asp-action="Create" asp-controller="Product" method="get">
                                    <button type="submit" style="margin-top: -50px;"
                                        class=" insertcategory btn btn-primary waves-effect waves-light add-form-category ">
                                        <i class="fa fa-cog mr-1"></i>
                                        Add
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table
                                    class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Stock</th>
                                            <th>Status</th>
                                            <th>Image</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                        if (Model != null)
                                        {
                                            foreach (var product in Model)
                                            {
                                            var imagePath = (product.ImagePath ?? "");
                                            <tr>
                                                <td>@product.Id</td>
                                                <td>@product.Name</td>
                                                <td>@product.Price</td>
                                                <td>@product.Stock</td>
                                                <td>@Html.DisplayFor(item => product.Status)</td>
                                                <td class="text-center">
                                                    <img style="display: block; margin: auto;padding-bottom: 13px;" src="@product.ImagePath" width="48" asp-append-version="true" alt="product img">                                                    
                                                </td>                                               
                                                <td width="15%" class="footable-last-visible text-center"
                                                    style="display: table-cell;">
                                                    <div class="btn btn-success btn-sm">
                                                        <a class="text-white" asp-action="Detail" asp-controller="Product"
                                                           asp-route-id="@product.Id">
                                                            <i class="zmdi zmdi-info"></i>
                                                            Detail
                                                        </a>
                                                    </div>
                                                    <div class="btn btn-primary btn-sm">
                                                        <a class="text-white" asp-action="Update" asp-controller="Product"
                                                           asp-route-id="@product.Id">
                                                            <i class="zmdi zmdi-edit"></i>
                                                            Edit
                                                        </a>
                                                    </div>
                                                    <div class="btn btn-danger btn-sm">
                                                        <a class="text-white delete" asp-action="Delete" asp-controller="Product"
                                                           asp-route-id="@product.Id">
                                                            <i class="zmdi zmdi-delete"></i>
                                                            Delete
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            }
                                        }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section Scripts
    {
    <script src="/assets/bundles/datatablescripts.bundle.js"></script>
    <script src="/assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="/assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="/assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="/assets/plugins/jquery-datatable/buttons/buttons.flash.min.js"></script>
    <script src="/assets/plugins/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="/assets/plugins/jquery-datatable/buttons/buttons.print.min.js"></script>

    <script src="/assets/js/pages/tables/jquery-datatable.js"></script>
    }