@using PhoneStoreWeb.Communication.Orders;
@using PhoneStoreWeb.Communication.ResponseResult;
@model CreateOrderRequest

@{
    var discounts = ViewData["discounts"] as List<DiscountResponse>;
    List<OrderItem> orderItems = ViewData["orderItems"] as List<OrderItem>;
    string itemsString = ViewData["itemsString"] as string;
}

@section Header{
    <link rel="stylesheet" href="/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/plugins/bootstrap-select/css/bootstrap-select.css" />
}

<div class="body_scroll">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" , asp-controller="Home"><i class="zmdi zmdi-home"></i> Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index" , asp-controller="Order">Order</a></li>
                    <li class="breadcrumb-item active">
                </ul>
                <h2>New Order</h2>
                <button class="btn btn-primary btn-icon mobile_menu" type="button">
                    <i class="zmdi zmdi-sort-amount-desc"></i>
                </button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button">
                    <i class="zmdi zmdi-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <form asp-action="Create" asp-controller="Order" method="post" enctype="multipart/form-data" id="orderForm">
            <div class="row clearfix"> 
                
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="body">
                            <input type="hidden" asp-for="ItemsString" value="@itemsString" />
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <label>Name</label>
                                    <div class="form-group">
                                        <input type="text" asp-for="Name" class="form-control" required>
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label>Phone Number</label>
                                    <div class="form-group">
                                        <input type="text" asp-for="PhoneNumber" class="form-control" required>
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <label>Address</label>
                                    <div class="form-group">
                                        <input type="text" asp-for="Address" class="form-control" required>
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label>Email</label>
                                    <div class="form-group">
                                        <input type="text" asp-for="Email" class="form-control" required>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <label>Ngay</label>
                                    <div class="form-group">
                                        <input type="date" asp-for="CreatedDate" class="form-control" required />
                                        <span asp-validation-for="CreatedDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label>Discount</label>
                                    <div class="form-group">
                                        <select class="form-control" id="discountSelect"
                                                asp-for="DiscountId">
                                            @if (discounts != null)
                                            {
                                                foreach (var item in discounts)
                                                {
                                                    <option value="@item.Id"
                                                            data-percent="@item.DiscountPercent"
                                                            data-amount="@item.DiscountAmount">
                                                        @item.Code
                                                    </option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <Label>Note</Label>
                                    <div class="form-group">
                                        <textarea class="col-lg panel-body" asp-for="OrderNotes"></textarea>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row clearfix">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-5 float-right form-group">
                                    <input placeholder="Serial Number"
                                           asp-for="Serial"
                                           class="float-right form-control" type="text" />
                                </div>
                                <div class="col-sm-1 float-right">
                                    <button type="submit" asp-route-iscreate="false"
                                            class="float-right btn btn-primary" id="addItemButton">
                                        Add
                                    </button>
                                </div>
                            </div>
                            <div class="row clearfix form-group">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover dataTables" id="itemsTable">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Name</th>
                                                <th>Serial Number</th>
                                                <th>Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (orderItems != null)
                                            {
                                                @foreach (var item in orderItems)
                                                {
                                                    <tr>
                                                        <td>@item.ProductItemId</td>
                                                        <td>@item.Name</td>
                                                        <td>@item.SerialNumber</td>
                                                        <td>@item.SoldPrice</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <hr />
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <label>Total Price</label>
                                    <div class="form-group">
                                        <input type="number" asp-for="TotalPrice" class="form-control"
                                               disabled required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label>Final Price</label>
                                    <div class="form-group">
                                        <input type="number" asp-for="FinalPrice" class="form-control"
                                               disabled required>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <div class="body">
                            <div class="modal-footer">
                                <button type="reset" class="btn btn-secondary">Cancel</button>
                                <button type="submit" asp-route-iscreate="true" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="/assets/bundles/datatablescripts.bundle.js"></script>
    <script src="/assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="/assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="/assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="/assets/plugins/jquery-datatable/buttons/buttons.flash.min.js"></script>
    <script src="/assets/plugins/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="/assets/plugins/jquery-datatable/buttons/buttons.print.min.js"></script>
    <script src="/assets/js/pages/tables/jquery-datatable.js"></script>

    <script>
        $(document).ready(function () {
            $('#discountSelect').on('change', function () {
                var op = $('#discountSelect option:selected');
                var amount = op.data('amount');
                var percent = op.data('percent');
                var tp = $('#orderForm [Name=TotalPrice]').val();
                var p = min(tp - amount, tp - tp * percent / 100);
                $('#orderForm [Name=FinalPrice]').val(p);
            });
            
        });           
    </script>
}